# Local .terraform directories
.terraform/
.terraform.lock.hcl

# Terraform plan files
*.tfplan

# Crash log files
crash.log

# CLI configuration files
.terraformrc
terraform.rc

# Sensitive files (optional, if you use .tfvars locally)
*.tfvars
*.tfvars.json

# Override files (local environment overrides)
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Backup files created by editors
*.bak
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
