# yaml-language-server: $schema=https://raw.githubusercontent.com/argoproj/argo-cd/master/manifests/crds/application-crd.yaml

apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: team-c 
  namespace: argocd
  labels:
    team: team-c
    app: prometheus
  annotations:
    argocd.argoproj.io/sync-wave: "0"
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: team-c
  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring
  source:
    repoURL: https://prometheus-community.github.io/helm-charts
    chart: kube-prometheus-stack
    targetRevision: 66.2.1
    helm:
      releaseName: monitoring
      values: |
        grafana:
          enabled: false  # separate installation below
        alertmanager:
          alertmanagerSpec:
            replicas: 2
        prometheus:
          prometheusSpec:
            retention: 15d
            resources:
              requests:
                cpu: 200m
                memory: 512Mi
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ApplyOutOfSyncOnly=true
    retry:
      limit: 5
